.eleve_1 {
    font-family: 'visby';
    color: yellow;
    position: absolute;
    top: 28%;
    left: 40%;
    font-size: large;
}
.eleve_2 {
    font-family: 'visby';
    color: black;
    position: absolute;
    top: 35%;
    left: 32%;
    font-size: large;
}
.eleve_3 {
    font-family: 'visby';
    color: black;
    position: absolute;
    top: 38%;
    left: 52%;
    font-size: large;
}
.eleve_4 {
    font-family: 'visby';
    color: white;
    position: absolute;
    top: 65%;
    left: 40%;
    font-size: large;
}
.eleve_5 {
    font-family: 'visby';
    color: white;
    position: absolute;
    top: 70%;
    left: 40%;
    font-size: large;
}
.eleve_6 {
    font-family: 'visby';
    color: white;
    position: absolute;
    top: 75%;
    left: 40%;
    font-size: large;
}
.eleve_7 {
    font-family: 'visby';
    color: white;
    position: absolute;
    top: 80%;
    left: 40%;
    font-size: large;
}